@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


body{
	background-color: #F0F2F5;
}
#facebook{
	font-family: 'Roboto', sans-serif;
	padding: 130px 0;
	width: 100%;
}

.wrapper{
	width: 83%;
	margin: 0 auto;
}

.logo{
	height: 105px;
	width: 301px;
}
.lg-dec{
	font-size: 28px;
	width: 500px;
	margin-left: 29px;
	line-height: 32px;
}


/*--------------------*/
.facebook-form{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
	text-align: center;
}
.form-wrapper{
	width: 370px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
}
.input input{
	width: 100%;
	font-size: 18px;
	color: #90949C;
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #DDDFE2;
}
.input input:focus{
	outline: none;
}
.login button{
	width: 100%;
	background-color: #1877F2;
	padding: 10px 0;
	border: none;
	border-radius: 5px;
}
.login button a{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
}
.forget{
	padding: 10px 0;
}
.forget a{
	font-size: 14px;
}
.ca{
	width: 190px;
	margin: 0 auto;
	background-color: #42b72a;
	border-radius: 5px;
	border: none;
}

.ca a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	line-height: 48px;
}




/*.pulse{
	font-size: 20px;
	line-height: 20px;
	width: 200px;
	height: 50px;
	padding: 10px;
	border: 4px solid aqua;
	border-radius: 30px;
	text-align: center;
	background: transparent;
	margin: 300px auto 0;
	box-sizing: border-box;
	animation: pulse 3s ease infinite;
	animation-name: pulse;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	transition: ease-in-out;
	box-shadow: 0px 0px 11px 0px rgba(51,255,238,1);
}


@keyframes pulse{
	0%{transform: scale(1);}
	5%{transform: scale(1.5);}
	9%{transform: scale(1);}
	17%{transform: scale(1.5);}
	22%{transform: scale(1);}
}*/